### Matt Robinson

**Question 1** What do these do?

In [3]:
2+5 #simple addition

7

In [4]:
2 + 5 #same thing, whitespace doesn't matter here

7

In [5]:
2*5 #multiplies

10

In [6]:
2/5 #divides

0.4

In [7]:
2**5 #exponential function

32

**Question 2** What is the value of x after running?

In [8]:
x = 7
x = x + 3

x is now 10, because on the second line Python uses the intial value of x and adds 3. Now looking at the lefthand side, x has a new value: 7+3.

In [9]:
x

10

**Question 3** What is the value of y after running? Of x?

In [10]:
x=3
y=x
x=10

y is now 3 because at the time it was reassigned to x, x was equal to 3. x is now 10 because that's what it is what it is most recently assigned to.

In [12]:
x

10

In [13]:
y

3

**Question 4** Does this code run without error?

In [15]:
x=3
x=x/2
y='abc'
z=y+y
print(x,z)

1.5 abcabc

Yes. Same principle as question 2, x is now 3/2 which is then presented in decimal form. z is the addition of two identical strings.

**Question 5** Does this code run without error?

In [16]:
x=3
x=x/2
y='abc'
z=x+y
print(x,z)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

No. It is not possible to add different types, so when trying to print z the program will yield an error.

**Question 6** Does this code run without error?

In [21]:
x=3
y=24
z=y/x
print(x,y,z,sep=' | ')

3 | 24 | 8.0

Yes. Nothing going awry here. Outputs the items in a list with a seperator.

**Question 7** Does this code run without error?

In [20]:
x=3
y='24'
z=y/x
print(x,y,z,sep=' | ')

TypeError: unsupported operand type(s) for /: 'str' and 'int'

No. Same problem as before, you can't do math with different types (string and int).

**Question 8** Does this code run without error?

In [22]:
x="I am a #string" # whoa, a string!

Yes. It assigns x a string. The second half of the line is a comment since there is a hashtag outside the quotations. Thus, if we call x it will not show the second half of the line above because it's not part of the string assigned to it.

**Question 9** Does this code run without error?

In [25]:
x=[1,2,3]
y=[42,43]
z=x+y
print(z)

[1, 2, 3, 42, 43]

Yes. x and y are lists. z adds the lists together, so it creates one bigger, inclusive list.

**Question 10** Does this code run without error?

In [26]:
x=[1,2,3]
y=42
z=x+y

TypeError: can only concatenate list (not "int") to list

No. Different types again. z can't be created because of this. y would need to be in list format or we would need a different funcion to join it to the list.

**Question 11** What "types" are...?

In [33]:
x1=12 #integer
x2=12.0 #float
x3='12.0' #string
x4=[12] #list
x5=[12,12.0,'12.0'] #list

**Question 12** Explain the result of each line:

In [44]:
type(42) #int, just a pure number without any decimal or other stuff
type(42.0) #float, since the number includes decimal places (despite being 0), it's now considered a float number
type('42.0') #str, putting the float in quotes strips away its float characteristic and makes it string
type("42.0") #str, same deal, double quotes vs. single quotes doesn't matter
type("""42.0""") #str, multiple quotation sets don't change the nature of what's inside
type([1,2]) #list, items in bracket
type([1]+[2]) #list, the addition of two lists is still a list
type(1+2) #int, the addition of two integers is still an integer
type(print) #builtin_function_or_method, this is a function that can be called, it's a reserved word

builtin_function_or_method

**Question 13** Describe the result:

In [46]:
type(float(str(int('1234')))) #float, have to work from the inside out on parentheses.
    #The initial string is first converted to an integer, then a string, and finally a float.

float

**Question 14** Describe the result:

In [49]:
type(int(float('12.34'))) #integer, the string is first converted to a float (12.34), and then changed to an int (12)

int

**Question 15** Explain each line:

In [53]:
len([1234]) #1, measures the length of the list, which is 1 item
len("1234") #4, measures the length of the string whcih is 4 characters
len(1234) #error, it can't measure the length of an integer

TypeError: object of type 'int' has no len()

**Question 16** What are the type and length of x = [ ]?

x is a new list that's been intiated. Thus, it is a **list** with a length of **0**.

**Question 17** Convert the string x='abcde' to a list.

In [54]:
x='abcde'
list(x)
x

'abcde'

It is a list of one item, it does not break up the string by it's characters or do anything like that.

**Question 18** Consider the integer:

In [55]:
x=1234

**a.** Convert x to a floating point number.

In [56]:
float(x)

1234.0

**b.** Convert x to a string.

In [57]:
str(x)

'1234'

**c.** Convert x to the list ['1','2','3','4']

In [74]:
x=1234
y=str(x)
x=[]
for i in y:
    x.append(i)
x

['1', '2', '3', '4']

**Question 19** How would you convert x to title case?

In [75]:
x="luke, i am your father"

In [81]:
x.title()

'Luke, I Am Your Father'

**Question 20** Consider the string:
x="How many characters and words are in this string?"

**a.** How many characters does x contain?

In [83]:
x="How many characters and words are in this string?"
len(x)

49

**b.** Convert x to a list of individual characters

In [88]:
x="How many characters and words are in this string?"
x=list(x)
print(x)

['H', 'o', 'w', ' ', 'm', 'a', 'n', 'y', ' ', 'c', 'h', 'a', 'r', 'a', 'c', 't', 'e', 'r', 's', ' ', 'a', 'n', 'd', ' ', 'w', 'o', 'r', 'd', 's', ' ', 'a', 'r', 'e', ' ', 'i', 'n', ' ', 't', 'h', 'i', 's', ' ', 's', 't', 'r', 'i', 'n', 'g', '?']

**c.** Convert x to a list of individual words

In [98]:
x="How many characters and words are in this string?"
x.split()

['How', 'many', 'characters', 'and', 'words', 'are', 'in', 'this', 'string?']

**d.** How many words does x contain?

In [101]:
len(x.split())

9